@import url('https://fonts.googleapis.com/css?family=Audiowide');
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
background: #888; 
}
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
@keyframes hoverBg {
    0% {
      background:#263238;
    }
    50% {
      background: #1a2227;
    }
    100% {
      background: #263238;
    }
  }
/* .form-dashboard-section, */
.page-form,
.comment-box,
/* .form-section.card-section, */
.widget,
.for-forgot .login-content.page-card,
.for-signup .login-content.page-card,
.for-login .login-content.page-card,
.container.my-4{
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
/* .form-dashboard-section:hover, */
/* .page-form:hover, */
.comment-box:hover,
/* .form-section.card-section:hover, */
.widget:hover,
.for-forgot .login-content.page-card:hover,
.for-signup .login-content.page-card:hover,
.for-login .login-content.page-card:hover,
.container.my-4:hover {
    -webkit-transform: translateY(-1px) scale(1.02);
    -moz-transform: translateY(-1px) scale(1.02);
    -ms-transform: translateY(-1px) scale(1.02);
    -o-transform: translateY(-1px) scale(1.02);
    transform: translateY(-1px) scale(1.02);   
    z-index: 999;
}

/* Login Screen */
body[frappe-session-status='logged-out']{
    background: url('../images/logologin.jpg');
    /* background-size: cover; */
    background-size: no-repeat;
    height: 100%;
}
body[frappe-session-status='logged-out'] .web-footer{display: none;}
body[frappe-session-status='logged-out'] nav.navbar {display: none;}
.for-forgot .login-content.page-card,
.for-signup .login-content.page-card,
.for-login .login-content.page-card{ 
    text-align: center;
    background: #a944d1;
    box-shadow: 0 5px 10px rgba(#000,.2);
}
.for-forgot .page-card-head,
.for-signup .page-card-head,
.for-login .page-card-head {
    background-image: url('../images/wsc.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 100%;
}
.for-forgot .page-card-head img,
.for-signup .page-card-head img,
.for-login .page-card-head img,
.for-forgot .page-card-head h4,
.for-signup .page-card-head h4,
.for-login .page-card-head h4 {display: none;}
.for-forgot .app-logo,
.for-signup .app-logo,
.for-login .app-logo{    
    background: #fff;
    padding: 10px;
    border-radius: 100%;
    max-height: initial!important;
    width: 100px;
    height: 100px;
}

.for-forgot .sign-up-message a,
.for-signup .sign-up-message a,
.for-login .forgot-password-message a{color: #fff!important;}
.for-login .page-card-actions{
    text-align: center;
}
.for-forgot .btn.btn-primary,
.for-signup .btn.btn-primary,
.for-login .btn.btn-primary{
    background: #fff;
    color: #000;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
}
.sidebar-label{
    visibility: hidden; 
}
.form-stats{
    visibility: hidden; 
}
.data-pill{
    visibility: hidden; 
}
.flex-wrap{
    visibility: hidden; 
}
.form-follow{
    visibility: hidden; 
}
.tags-placeholder{
    visibility: hidden; 
}
.text-center.sign-up-message{
    background: rgba(181, 175, 210, 0.7);
    width: 400px;
    width: 250px;
    height: 25px;
    margin: auto;
    border: 2px solid #5c3c92; 
    border-radius: 5px;
}
/*
.btn .btn-default .btn-sm .btn-attach{
    background: #5c3c92;
}
.btn{
    background: #5c3c92;
}
.btn-default{
    background: #5c3c92;
}
.btn-sm{
    background: #5c3c92;
}
.btn-attach{
    background: #5c3c92;
}
.input-sm{
    background: #5c3c92;}
*/

/* btn btn-default btn-sm btn-attach bold input-sm */
/* .text-muted{
    visibility: hidden; 
} */
/* .text-muted .btn .btn-default .icon-btn .add-assignment-btn{
    visibility: hidden; 
} */
/* .flex flex-wrap */
/* .btn.btn-default.icon-btn{
    visibility: hidden;
} */
/* .menu-btn-group{
    visibility: hidden;
} */
/* .btn.btn-default.btn-sm.ellipsis{
    visibility: hidden;
} */
.inner-page-message.text-muted.small{
    visibility: hidden;
}
.grid-footer-toolbar.hidden-xs.flex.justify-between{
    visibility: hidden;
}
.btn-btn-secondary-btn-sm-pull-right-grid-append-row{
    visibility: hidden;
}
.btn.btn-xs.restricted-button.flex.align-center{
    visibility: hidden; 
}

.grid-shortcuts{
    visibility: hidden;
}
/* .dropdown-menu.dropdown-menu-right.show{
    visibility: hidden;
} */
/* .grey-link.dropdown-item{
    visibility: hidden;
} */
.sign-up-message {color: #fff!important;}
.sign-up-message a{color: #5c3c92!important;}


/* Home Page */
body[data-path='student-applicant'] nav.navbar {display: block;}
body .web-footer{display: none;}
header.navbar, 
nav.navbar{
    height: 100px!important;
    background-size: auto 100%;
}
.page-head{top: 100px;}
.navbar-brand.navbar-home, 
/* .navbar-brand{
    background-image: url('../images/wsc_nav.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 0;
    opacity: 1.0;
} */
.navbar-brand{
    background-image: url('../images/wsc_nav.png');
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    width: 170px;
    height:100px;
    /* border-radius: 100%; */
    font-size: 0;
}
.navbar-brand:hover .navbar-home:hover, 
.navbar-brand:hover{
    opacity: 0.85;
}
.navbar-brand span,
.navbar-brand img{ display: none;}
.container{
    width: 98%!important;
    padding:0;
    max-width: inherit!important;
}
#page-student-applicant{
    background: #fff;
}
.sidebar-column,
.layout-side-section{
    background: #B5AFD2;
}
.sidebar-item{
    padding: 0;
    margin: 2px 0;
}
.btn.btn-primary{
    background-image: linear-gradient(to right, #b28ef1  0%, #5c3c92  51%, #b28ef1 100%);
    margin: 10px;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
.btn.btn-primary:hover{
    background-image: linear-gradient(to right, #b28ef1  0%, #5c3c92  51%, #b28ef1 100%);
    background-position: right center; /* change the direction of the change here */
    color: white;
    text-decoration: none;
}
.abc{
    background-color: #B5AFD2;
}
.sidebar-item a{
    padding: 7px 10px;
    color: var(--text-color);
    border-radius: 8px;
    margin: 0;
    border-radius:0!important;
    position: relative;
}
.sidebar-item a:after {
    content: "» ";
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    top: .45rem;
    margin-top: .12502rem;
    right: 1.25rem;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar-item a.active,
.sidebar-item a:hover,
.desk-sidebar .standard-sidebar-item:hover,
.desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected, .standard-sidebar .standard-sidebar-item.selected {
    /* background-color: #3979a9;
    color: var(--text-color);
    border-radius: 8px!important; */
    background: #B5AFD2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #B5AFD2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #B5AFD2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.like-disabled-input, .comment-box .comment-input-container .ql-editor, select.form-control, textarea.form-control, input.form-control {
    border: solid 1px #30145f;
}

.container.my-4{
    /* background: #fff; */
    margin: 0;
    padding: 10px;
    border-radius: 8px;
}
.container.my-4 h1{
    color: var(--heading-color);
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 10px 0;
}
.container.my-4 h2{
    color: var(--heading-color);
    font-weight: 600;
    font-size: var(--text-lg);
    margin: 0 0 10px 0;
}
.sidebar-toggle-btn .icon{
    stroke: #30145f;
}
.sidebar-toggle-btn {
    stroke: #30145f;
}
.ellipsis.title-text{
    color: #30145f;
}
.standard-actions .btn{
    /* background: #2da34f;
    color: #fff; */
    background-image: linear-gradient(to right, #b28ef1  0%, #5c3c92  51%, #b28ef1 100%);
}
.standard-actions .btn{
   margin: 10px;
   padding: 5px 5px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .standard-actions .btn:hover {
    background-image: linear-gradient(to right, #b28ef1  0%, #5c3c92  51%, #b28ef1 100%);
   background-position: right center; /* change the direction of the change here */
   color: #eee;
   text-decoration: none;
 }

.widget.onboarding-widget-box{
    background-image: linear-gradient( 135deg, #ffffff 10%, #8089D0 100%);
}
.widget.shortcut-widget-box{
    background: #8089D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #5c3c92);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #5c3c92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.widget.shortcut-widget-box .widget-title{
    color: #30145f;
}
.widget.links-widget-box .widget-title{
    color: #30145f;
}
.widget.links-widget-box{
    background-color: #B5AFD2;
    background-image: linear-gradient(160deg, #dbd6f3 0%, #B5AFD2 100%);

}
.widget.links-widget-box .indicator-pill.yellow,
.widget.links-widget-box .indicator-pill.gray{
    background-color: #B5AFD2;
    background-image: linear-gradient(160deg, #dbd6f3 0%, #B5AFD2 100%);

}
.widget.links-widget-box .link-item:hover{
    background: #5c3c92;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #5c3c92);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #5c3c92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .page-wrapper{
    background-image: url('../images/regal.png');
 }
 .page-head{
    background-image: url('../images/regal.png');
 }

 .page-footer::before{
    position: relative;
    font-family: "Audiowide", monospace;
    color: #ebe5f7;
    content: "Powered by SOUL LIMITED";
    font-size: 14px;
 }
 /* .navbar .container {
    background-image: url('../images/logo-kp-resize.png');
    background-repeat: no-repeat;
    background-position: top 10px right 500px;
    background-size: auto;
    width: 100%;
    height: auto;
 } */
 .layout-side-section .icon .icon-sm {
    color: #30145f;
 }
 .layout-side-section .sidebar-label {
    color: #30145f;
 }
 .layout-side-section .form-sidebar .modified-by {
    color: #30145f;
 }
 .layout-side-section .form-sidebar .created-by {
    color: #30145f;
 }
 .layout-side-section .sidebar-label .icon {
    background-color: #30145f;
    border-radius: 100%;
 }



 





















 





